<!DOCTYPE>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
    <h1>Liste des Clients</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Création</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
        </tr>
        {% for row in data %}
        <tr>
            <form action="./supprimer_oeuvre" method="POST">
                <td type="text" id="ID">{{ row[0] }}</td>
                <td type="text">{{ row[1] }}</td>
                <td type="text">{{ row[2] }}</td>
                <td type="text">{{ row[3] }}</td>
                <td type="text">{{ row[4] }}</td>
                <td><button type="submit">Supprimer</button></td>
            </form>
        </tr>
        {% endfor %}
        <tr>
            <form action="./enregistrer_client" method="POST">
                <input type="text" id="nom" name="nom" required><br><br>
                <input type="text" id="prenom" name="prenom" required><br><br>
                <input type="text" id="address" name="address" required><br><br>
                <button type="submit">Enregistrer</button>
            </form>
        </tr>
    </table>
</body>
</html>
