<!DOCTYPE>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
    <h1>Liste des Clients</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Création</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>emprunter</th>
        </tr>
        {% for row in data %}
        <tr>
            <form action="./emprunter_livre" method="POST">
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <input type="hidden" name="ID" value="{{ row[0] }}">
                <input type="hidden" name="emprunter" value="{{ row[4] }}">
                <td>
                    <button type="submit" class="btn {{ 'rouge' if row[4] == 1 else 'vert' }}">
                        {{ 'Emprunté' if row[4] == 1 else 'Non emprunté' }}
                    </button>
                </td>
            </form>
            <form action="./supprimer_oeuvre" method="POST">
                <input type="hidden" name="ID" value="{{ row[0] }}">
                <td><button type="submit">Supprimer</button></td>
            </form>
        </tr>
        {% endfor %}
        
        <tr>
            <form action="./enregistrer_oeuvre" method="POST">
                <td>ID</td>
                <td>Created</td>
                <td><input type="text" id="nom" name="nom" required><br><br></td>
                <td><input type="text" id="prenom" name="prenom" required><br><br></td>
                <td><input type="text" id="emprunter" name="emprunter" required><br><br></td>
                <td><button type="submit">Enregistrer</button>
            </form>
        </tr>
    </tr>

    </table>
</body>
</html>
