<!DOCTYPE>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
    <h1>Liste des Clients</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Création</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>emprunter</th>
        </tr>
        {% for row in data %}
        <tr>
            <form action="./emprunter_livre" method="POST">
                <td type="text" id="ID">{{ row[0] }}</td>
                <td type="text">{{ row[1] }}</td>
                <td type="text">{{ row[2] }}</td>
                <td type="text">{{ row[3] }}</td>
                    <td type="text" id="ID">{{ row[0] }}</td>
                    <td type="text" id="emprunter">{{ row[4] }}
                        <button type="submit" class="btn {{ 'rouge' if row[4] == 1 else 'vert' }}">{{ 'Emprunté' if row[4] == 1 else 'Non emprunté' }}</button>
                    </td>
                <td><button type="submit">Supprimer</button></td>
            </form>
        <form action="./supprimer_oeuvre" method="POST">
            <td><button type="submit">Supprimer</button></td>
        </form>

        {% endfor %}
        <tr>
            <form action="./enregistrer_oeuvre" method="POST">
                <td>ID</td>
                <td>Created</td>
                <td><input type="text" id="nom" name="nom" required><br><br></td>
                <td><input type="text" id="prenom" name="prenom" required><br><br></td>
                <td><input type="text" id="emprunter" name="emprunter" required><br><br></td>
                <td><button type="submit">Enregistrer</button>
            </form>
        </tr>
    </tr>

    </table>
</body>
</html>
